pandas~=1.3.2
torch~=1.9.0
SoundFile~=0.10.3.post1
numpy~=1.20.3
librosa~=0.8.0
humanize~=0.0.0
torchinfo~=0.0.5
scipy~=1.7.1
matplotlib~=3.4.2
seaborn~=0.11.0
nflows~=0.14
torchaudio~=0.9.0a0+33b2469
natsort~=7.1.1