pandas~=1.4
torch>=1.10.0
SoundFile~=0.10.3.post1
numpy>=1.21.5
librosa~=0.8.0
humanize>=3.10.0
torchinfo>=1.7.0
scipy~=1.7.1
matplotlib>=3.5.1
seaborn~=0.11.0
nflows~=0.14
torchaudio>=0.10.0
natsort~=7.1.1
editdistance>=0.5.3